<h1>Hello <%= locals.user.username %></h1>

<form action="/profiles/<%= profile.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="pb2">
    <label class="b f4 db" for="about">About: </label>
    <textarea class="w-100 ba pa1 b--gray" type="text" name="about"><%= profile.about %></textarea>
  </div>

  <div class="pb2">
    <p><b>Age: </b>
    <% if (!profile.age) { %>
      <%= 'Not specified' %>
    <% } else { %>
    <%= profile.age %>
    <% } %></p>
    <label class="b f4 db" for="age">Edit age: </label>
    <input class="w-100 ba pa1 b--gray" type="number" name="age">
  </div>

  <div class="pb2">
    <% let mainID; %>
    <% if (!profile.main) { %>
      <% mainID = ''; %>
      <% }  %>
    <h3>Main character: </h3>
    <p>
      <% if (profile.main) { %>
        <img width="50" class="circle main-avatar" src=""><a class="main-name" href="<%= profile.main %>"></a>
      <% } else { %>
        Main not yet added.
      <% } %>
      </p>
    <label class="b f4 db" for="main">Edit main: </label>
    <input class="w-100 ba pa1 b--gray" type="text" name="main">

    <h3>Alt characters: </h3>
    <% if (profile.alts.length === 0) { %>
      <p>No alts.</p>
    <% } %>
    <ul>
    <% for (let i = 0; i < profile.alts.length; i++) { %>
      <% if (profile.alts[i]) { %>
      <li>
      <img width="50" class="circle alt<%=i%>-avatar" src="">
      <a class="alts alt<%=i%>-name"
      id="<%= profile.alts[i].split('character/')[1].split('/')[0] %>"
      href="<%= profile.alts[i] %>">
      <%= profile.alts[i] %></a>
      <label class="b" for="<%= profile.alts[i] %>">Delete: </label>
      <input type="checkbox" name="<%= profile.alts[i] %>">
      </li>
      <% } %>
    <% } %>
  </ul>
  </div>
  <div class="pb2">
    <label class="b f4 db" for="alts">Add an alt: </label>
    <input class="w-100 ba pa1 b--gray" type="text" name="alts">
  </div>

  <input class="pa2 ba bw1 bg-white ba b--blue blue" type="submit" value="Update">
</form>
