<h1 class="f2-ns pb3 glow">Edit profile</h1>

<form action="/profiles/<%= profile.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="pb2">
    <label class="grd-gold pb2 b f4 db" for="about">About: </label>
    <p>Add a bit of info about yourself, the player. The about section supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>.</p>
    <textarea class="w-100 ba pa1 b--gray" rows="10" type="text" name="about"><%= profile.about %></textarea>
  </div>

  <div class="pb2 w-100 w-50-ns fl pr2-ns">
    <h3 class="grd-silver">Age: &nbsp;
    <% if (!profile.age) { %>
      <%= 'Not specified' %>
    <% } else { %>
    <%= profile.age %>
    <% } %></h3>
    <label class="grd-gold pb2 b f4 db" for="age">Edit age: </label>
    <input class="w-100 ba pa1 b--gray" type="number" name="age">
  </div>
  <div class="pb2 w-100 w-50-ns fl">
    <h3 class="grd-silver">Main job: &nbsp;
      <% if (!profile.mainJob) { %>
        <%= 'Not specified' %>
      <% } else { %>
      <%= profile.mainJob %>
      <% } %></h3>
      <label class="grd-silver pb2 b f4 db" for="mainJob">Edit main job: </label>
      <p class="mv0">Enter the 3 letter abbreviation for your main job.</p>
      <input maxlength="3" class="w-100 ba pa1 b--gray" type="text" name="mainJob">
  </div>

    <% let mainID; %>
    <% if (!profile.main) { %>
      <% mainID = ''; %>
      <% }  %>
    <div class="charlist w-100 w-50-ns dib fl mb2">
      <h3 class="grd-silver mt0">Main character: </h3>

      <% if (profile.main) { %>
        <a href="<%= profile.main %>"><img width="50" class="circle main-avatar" src=""></a>
        <p class="dib"><a class="main-name" id="<%= profile.main %>"></a></p>
        </div>
      <% } else { %>
        <p>Main not yet added.</p>
      <% } %>
    </div>
    <div class="w-100 w-50-ns fl pb2">
      <label class="grd-gold pb2 b f4 db" for="main">Edit main character: </label>
      <p class="mv0">Enter the full lodestone link for your main character.</p>
      <input class="w-100 ba pa1 b--gray" type="text" name="main">
    </div>

  <div class="pb2 cb">
    <h3 class="grd-silver">Alt characters: </h3>
    <p class="mt0">To remove an alt check the delete box then click the update button.</p>
    <% if (profile.alts.length === 0) { %>
      <p>No alts.</p>
    <% } %>
    <% for (let i = 0; i < profile.alts.length; i++) { %>
      <% if (profile.alts[i]) { %>
      <div class="charlist w-100 w-50-m w-third-l dib fl">
      <img width="50" class="circle alt<%=i%>-avatar" src="">
      <p class="dib"><a class="alts alt<%=i%>-name"
      id="<%= profile.alts[i].split('character/')[1].split('/')[0] %>"
      href="<%= profile.alts[i] %>">
      </a></p>
      <div class="pv2">
      <label class="dib b danger" for="<%= profile.alts[i] %>">Delete: </label>
      <input class="dib" type="checkbox" name="<%= profile.alts[i] %>">
      </div>
      </div>
      <% } %>
    <% } %>
  </div>
  <div class="pb3">
    <label class="grd-gold b f4 db cb" for="alts">Add an alt link: </label>
    <p class="mb0">Enter the lodestone link to one of your alt characters.</p>
    <input class=" w-100 ba pa1 b--gray" type="text" name="alts">
  </div>

  <input class="btn green-btn pa2" type="submit" value="Update">
  <a class="btn red-btn fr" href="/profiles/<%= user.profile %>">Cancel</a>
</form>
