<h1 class="glow"><%= profile.owner.username %>'s profile</h1>
<h2><a href="/blogs/<%= profile.owner.blog %>">View blog</a></h2>

  <div class="pb2">
    <label class="grd b f4 db" for="about">About: </label>
    <p class="w-100" type="text" name="about"><%= profile.about %></p>

    <div class="pb2">
    <h3 class="grd">Age: &nbsp;
    <% if (!profile.age) { %>
      <%= 'Not specified' %>
    <% } else { %>
    <%= profile.age %>
    <% } %></h3>

    <% let mainID; %>
    <% if (!profile.main) { %>
      <% mainID = ''; %>
      <% }  %>
    <h3 class="grd">Main character: </h3>
      <% if (profile.main) { %>
        <div class="charlist mb2">
        <img width="50" class="circle main-avatar" src=""><a class="main-name" href="<%= profile.main %>"></a> on <span class="main-server"></span>
        </div>
      <% } else { %>
        <p>Main not yet added.</p>
      <% } %>
    </div>
    <div class="pb2">
    <h3 class="grd">Alt characters: </h3>
    <% if (profile.alts.length === 0) { %>
      <p>No alts.</p>
    <% } %>
    <% for (let i = 0; i < profile.alts.length; i++) { %>
      <% if (profile.alts[i]) { %>
      <div class="charlist mb2">
      <img width="50" class="circle alt<%=i%>-avatar" src="">
      <a class="alts alt<%=i%>-name"
      id="<%= profile.alts[i].split('character/')[1].split('/')[0] %>"
      href="<%= profile.alts[i] %>">
      </a> on <span class="alt<%=i%>-server"></span>
      </div>
      <% } %>
    <% } %>
  </div>
  </div>

<% if (locals.user && locals.user.id === profile.owner.id) { %>
  <form action="/profiles/<%= profile.owner.id %>" method="post">
    <a class="big btn blue-btn pa2" href="/profiles/<%= profile.id %>/edit">Edit your profile</a>
  </form>
<% } %>
