<h1>Comment on <a href="/blogs/<%= blog.id %>/posts/<%= post.id %>"><%= post.title %></a></h1>
<% if (comment.parentComment) { %>
  <h2><a href="/blogs/<%= blog.id %>/posts/<%= post.id %>/comments/<%= comment.parentComment %>">Parent comment</a></h2>
<% } else { %>
  <h2><a href="/blogs/<%= blog.id %>/posts/<%= post.id %>%>">Parent post</a></h2>
  <% } %>
<h3>At <a href="/blogs/<%= blog.id %>/posts/<%= post.id %>/comments/<%= comment.id %>">
<%= comment.createdAt.toLocaleString() %></a>
<a href="/profiles/<%= comment.author.profile %>"><%= comment.author.username %></a> said:</h3>
<p><%= comment.body %></p>
<a href="/blogs/<%= blog.id %>/posts/<%= post.id %>/comments/<%= comment.id %>/new">Reply to this comment</a>
<% if (locals.isLoggedIn && locals.user.id === comment.author.id) { %>
  <a class="pa1 warning ba bg-white red b--red" href="/blogs/<%= blog.id %>/posts/<%= post.id %>/comments/<%= comment.id %>/edit">Edit/delete this comment</a>
<% } %>
