<h1 class="glow">Comment on <a class="glow" href="/blogs/<%= blog.id %>/posts/<%= post.id %>"><%= post.title %></a></h1>
<% if (comment.parentComment) { %>
  <h3 class="grd"><a class="grd" href="/blogs/<%= blog.id %>/posts/<%= post.id %>/comments/<%= comment.parentComment %>">Parent comment</a></h2>
<% } else { %>
  <h3 class="grd"><a class="grd" href="/blogs/<%= blog.id %>/posts/<%= post.id %>%>">Parent post</a></h2>
  <% } %>
<h3 class="grd">At <a class="grd" href="/blogs/<%= blog.id %>/posts/<%= post.id %>/comments/<%= comment.id %>">
<%= comment.createdAt.toLocaleString() %></a>
<a class="grd" href="/profiles/<%= comment.author.profile %>"><%= comment.author.username %></a> said:</h3>
<p class="pb3"><%= comment.body %></p>
<a class="btn big green-btn db" href="/blogs/<%= blog.id %>/posts/<%= post.id %>/comments/<%= comment.id %>/new">Reply to this comment</a>
<% if (locals.isLoggedIn && locals.user.id === comment.author.id) { %>
  <a class="btn big red-cancel red-btn fr dib" href="/blogs/<%= blog.id %>/posts/<%= post.id %>/comments/<%= comment.id %>/edit">Edit/delete this comment</a>
<% } %>
