<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>FFXIV Blogs</title>
  <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">%>
  <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>%>
  <script type="text/javascript" src=" https://cdn.rawgit.com/showdownjs/showdown/1.6.4/dist/showdown.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Play:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/js/client.js" charset="utf-8"></script>
</head>
<body class="vh-100">
  <header class="w-100">
    <nav class="pt2 ph2 pa2-ns">
      <a class="logo" href="/">XIVB</a>
      <div class="fr mv0 pb2">
      <ul class="menu mv0">
        <% if (locals.isLoggedIn) { %>

          <% if (!locals.user.profile.main) { %>
            <li>Logged in as <%= locals.user.username %></li>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/profiles/<%= locals.user.profile %>">My Profile</a></li>
            <li><a href="/blogs">View Blogs</a></li>
            <li><a class="logout" href="/logout">Log Out</a></li>

          <% } else { %>
            <li>Logged in as <%= locals.user.username %></li>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/profiles/<%= locals.user.profile.id %>">My Profile</a></li>
            <li><a href="/blogs">View Blogs</a></li>
            <li><a  class="logout" href="/logout">Log Out</a></li>
            <% } %>

        <% } else { %>
          <li><a href="/blogs">View Blogs</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/register">Register</a></li>
        <% } %>

          </ul>
          <a class="menu-btn" href="#"></a>

          </div>

        </nav>
      </header>
      <main class="ph3 pb5 pt3 pt5-ns ph5-ns">
        <% for (const type in messages) { %>
          <div class="mt3 msg-container">
          <img class="msg-img" src="/images/moogle.png" height="100">
          <p class="pa2 dib mt3 ml3 mb0 msg <%= type %>"><%= messages[type] %></p>
          </div>
          <% } %>
            <%- body %>
        </main>
        <footer class="pa2 w-100 tc">Made with &hearts; by Edie @ GA WDI 2017</footer>
      </body>
      </html>
