<h1 class="glow-title f2">Edit this post</h1>
<p><b>Posting as: </b><%= locals.user.username %></p>
<form action="/blogs/<%= post.blog %>/posts/<%= post.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <input class="w-100 ba pa1 b--gray mb2" type="text" name="title" value="<%= post.title %>">
  <textarea name="body" class="w-100 mb2" rows="10"><%= post.body %></textarea>
  <input type="hidden" name="owner" value="<%= locals.user.id %>">
  <input type="hidden" name="profile" value="<%= locals.user.profile %>">
  <input type="hidden" name="blog" value="<%= post.blog %>">
  <input class="db btn blue-btn" type="submit" value="Update">
</form>

<div class="fr red-cancel">
  <form class="dib" action="/blogs/<%= post.blog %>/posts/<%= post.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn db red-btn">Delete</button>
  </form>
  <a class="dib btn red-btn" href="/blogs/<%= post.blog %>/posts/<%= post.id %>">Cancel</a>
</div>
