<h1 class="glow"><%= blog.owner.username %>'s blog</h1>
<% if (!locals.isLoggedIn) { %>
  <div class="fr">
  <h3 class="dib pr2"><a class="grd-gold" href="/blogs/<%= blog.id %>">Back</h3>
  <img class="vm" src="https://ffxiv.gamerescape.com/w/images/5/5e/Main_Command_19_Icon.png"></a>
  </div>
<% } else { %>
  <div class="fr">
  <h3 class="dib pr2"><a class="grd-gold" href="/">Back</h3>
  <img class="vm" src="https://ffxiv.gamerescape.com/w/images/5/5e/Main_Command_19_Icon.png"></a>
  </div>
<% } %>
<% if (!posts[0]) { %>
  <p>No posts yet.</p>
<% } else if (posts[0]) { %>

  <% posts.forEach(post => { %>
    <div class="fl">
    <img class="vm" height="32" src="https://ffxiv.gamerescape.com/w/images/b/b2/Sidequest1_Icon.png">
    <h2 class="dib"><a class="blog-title grd-gold" href="/blogs/<%= blog.id %>/posts/<%= post.id %>"><%= post.title %></a></h2>
    </div>
    <h4 class="cb grd-silver"><%= post.createdAt.toLocaleString() %></h4>
    <p class="blog-post"><%= post.body %></p>

    <% if (locals.isLoggedIn && locals.user.username === blog.owner.username) { %>
      <a class="mt2 db big btn blue-btn" href="/blogs/<%= blog.id %>/posts/<%= post.id %>/edit">Edit this post</a>
    <% } %>

  <% }) %>
<% }%>
