<h1><%= blog.owner.username %>'s posts</h1>
<% if (!posts[0]) { %>
  <p>No posts yet.</p>
<% } else if (posts[0]) { %>
  <% posts.forEach(post => { %>
    <h2><a href="/blogs/<%= blog.id %>/posts/<%= post.id %>"><%= post.title %></a></h2>
    <p class="f4"><%= post.createdAt.toLocaleString() %></p>
    <p class="body"><%= post.body %></p>
    <% if (locals.isLoggedIn && locals.user.username === blog.owner.username) { %>
      <a class="pa1 warning none ba bg-white red b--red" href="/blogs/<%= blog.id %>/posts/<%= post.id %>/edit">Edit this post</a>
    <% } %>

  <% }) %>
<% }%>
