<h1>New Blog Post</h1>
<%= user %>
<p><b>Posting as: </b><%= locals.user.username %></p>
<form action="/blogs/<%= user.blog.id %>/posts" method="post">
<select class="mb2" name="author">

  <% for (let i = 0; i < user.profile.alts.length; i++) { %>
    <option class="alts alt<%=i%>-name" id="<%= user.profile.alts[i].split('character/')[1].split('/')[0] %>">
  <% } %>
</select>
<input class="w-100 ba pa1 b--gray mb2" type="text" name="title" placeholder="Title">
<textarea name="body" class="w-100" rows="10"></textarea>
<input type="hidden" name="owner" value="<%= user.id %>">
<input type="hidden" name="blog" value="<%= user.blog.id %>">
<input type="hidden" name="profile" value="<%= user.profile.id %>">
<input class="ba bw1 bg-white b--blue blue" type="submit" value="Post">
</form>
