<h1 class="glow"><%= post.title %></h1>
<h3 class="grd">by <a class="grd main-author" href="/profiles/<%= post.profile %>"><%= post.author %></a>
  <a class="grd fr" href="/blogs/<%= post.blog %>/posts">Back to posts</a></h3>
<h3 class="grd">At <%= post.createdAt.toLocaleString() %>  wrote:</h3>
<p class="blog-post"><%= post.body %></p>
<% if (locals.isLoggedIn && locals.user.username === post.owner.username) { %>
  <a class="big btn blue-btn db fr" href="/blogs/<%= blog.id %>/posts/<%= post.id %>/edit">Edit this post</a>
<% } %>

<a class="big btn green-btn db mv2" href="/blogs/<%= post.parentBlog %>/posts/<%= post.id %>/comments/new">Add a comment</a>

<% if (!comments[0]) { %>
  <p>No comments yet.</p>
<% } else if (comments[0]) { %>
  <% comments.forEach(comment => { %>
    <% if (comment.replyLevel > 0) { %>
      <% for (let i = 1; i <= comment.replyLevel; i++) { %>
        <blockquote>
      <% } %>
    <% } %>

    <h3 class="grd"><a class="grd" href="/profiles/<%= comment.author.profile %>"><%= comment.author.username %></a> at
    <a class="grd" href="/blogs/<%= post.blog %>/posts/<%= post.id %>/comments/<%= comment.id %>"><%= comment.createdAt.toLocaleString() %></a> said:</h3>
    <p class="body"><%= comment.body %></p>

    <% if (comment.replyLevel > 0) { %>
      <% for (let i = 1; i <= comment.replyLevel; i++) { %>
        </blockquote>
      <% } %>
    <% } %>
  <% }) %>
<% }%>
